@*@Customized*@
@{
    @using SnQMenu.AspMvc.Modules.Session
    @using SnQMenu.AspMvc.Modules.Language

    var sessionWrapper = new SessionWrapper(Context.Session);
    Func<string, string> translate = Translator.TranslateIt;
    Func<string, string> translateFor = pn => translate($"PortalMenu.{pn}");

    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@translateFor("Home")</a>
        </li>
        @*#if ACCOUNT_ON*@
        @if (sessionWrapper.LoginSession != null)
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RestaurantLanguages" asp-action="Index">@translateFor("Restaurants")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="RestaurantMenues" asp-action="Index">@translateFor("Menues")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="MenuMenuSections" asp-action="Index">@translateFor("MenuSections")</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="MenuSectionMenuItems" asp-action="Index">@translateFor("MenuItems")</a>
            </li>
        }
        @*#endif*@
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@translateFor("Contact")</a>
        </li>
    </ul>
}
